<form ngNativeValidate (ngSubmit)="saveProduct()">
  <input class="mat-form" name="image" [(ngModel)]="product.image" style="margin-bottom:15px" type="text" placeholder="Url imagen" required>
  <input class="mat-form" name="name" [(ngModel)]="product.name" style="margin-bottom:15px" type="text" placeholder="Nombre" required>
  <input class="mat-form" name="description" [(ngModel)]="product.description" style="margin-bottom:15px" type="text" placeholder="Descripcion" required>
  <input class="mat-form" name="price" [(ngModel)]="product.price" style="margin-bottom:15px" type="number" placeholder="Precio" required min="1">
  <div style="margin-bottom:15px">
    <label for="tipo">Tipo:</label>
    <select id="tipo" class="mat-form" [(ngModel)]="product.type" name="type" required>
      <option value=1>Comida</option>
      <option value=2>Bebida</option>
      <option value=3>Postre</option>
    </select>
  </div>
    <div style="text-align: right;">
      <button type="submit" style="height: 40px;" >Guardar</button>
    </div >
</form>
