<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Pedidos</span>
  </mat-toolbar-row>
</mat-toolbar>
<div style="padding-top: 40px;">
  <div style="padding-right: 50px; padding-left: 50px;">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Fecha: 30/03/2020</mat-card-title>
        </mat-card-header>
        <div style="margin-left: 20px; margin-right: 20px;">
          <p>Porducto 1</p>
          <p>Porducto 2</p>
        </div>
        <div class="container" style="margin-top: 15px; margin-right: 30px; margin-right: 20px;">
          <div class="row">
            <div class="col-9">
              <mat-card-content>
                <h2>
                 Cantidad: 2
                </h2>
              </mat-card-content>
            </div>
            <div class="col-3" style="align-self: center;">
              <h2>Total $40</h2>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
</div>
