<div style="margin-top: 15%;">
  <div class="row fx-cv-ch">
    <div class="col-12 col-md-3">
      <div style="text-align:center">
        <h1>Logo</h1>
      </div>
      <div>
        <form  [formGroup]="formLogin" (ngSubmit)="sendLogin()">
          <label class="m-3">Email</label>
          <input class="mat-form" style="margin-bottom:15px" type="text" placeholder="" formControlName="username">
          <label class="m-3">Password</label>
          <input class="mat-form" style="margin-bottom:15px" type="password" placeholder="" formControlName="password">
          <button style="margin-bottom: 25px; height: 6vh; width: 100%; background-color: transparent; color: black; " mat-raised-button>REGISTRATE</button>
        </form>
      </div>
    </div>
  </div>
</div>
