<div style="margin-top: 15%;">
  <div class="row fx-cv-ch">
    <div class="col-12 col-md-2">
      <div class="row fx-cv-ch">
        <h1>LOGIN</h1>
      </div>
      <div class="row fx-cv-ch" style="margin-bottom: 4vh;">
        <h1>Logo</h1>
      </div>
      <div  style="text-align: center;">
        <form>
          <button style="margin-bottom: 25px; height: 6vh; width: 100%; background-color: transparent; color: black; " mat-raised-button (click)="signup()">REGISTRATE</button>
          <button style="margin-bottom: 25px; height: 6vh; width: 100%; background-color: transparent; color: black;" mat-raised-button (click)="loginComponent()">INGRESA</button>
        </form>
      </div>
    </div>
  </div>
</div>
