<div style="padding: 10%;">
  <div class="row fx-cv-ch">
    <div class="col-12 col-md-14">
      <div class="mat-elevation-z1 bg-main pd-general">
        <h1>INICIO DE SESIÓN</h1>
        <form>
          <div class="mat-form">
            <input  placeholder="Usuario" type="text">
          </div>
          <div class="mat-form">
            <input  placeholder="Contraseña">
        </div>
          <button class="button" >LOGIN</button>
        </form>
      </div>
    </div>

  </div>
</div>
