<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">CARRITO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
      <li class="nav-item">
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar producto" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>

<div style="padding: 10%;">
  <div class="row fx-cv-ch">
    <div class="col-14 col-md-14">
      <div class="mat-elevation-z1 bg-main pd-general">
       <div class="row justify-content-center">
        <img src="https://elgourmet.s3.amazonaws.com/recetas/cover/mole-_9IMJjkql3RCWT1eg6AHUD8PKyZLh7o.png" width="350px" height="300px">
       </div>


       <form>

          <mat-form-field class="mat-form">
            <input matInput placeholder="Nombre" type="text">Mole de pollo
          </mat-form-field>

          <mat-form-field class="mat-form">
            <input matInput placeholder="Descripción"> Mole negro
          </mat-form-field>

       <div class="row justify-content-start">

        <div class="col-3">
          <mat-form-field class="mat-form">
            <input matInput placeholder="Tipo"> Comida Tipica
          </mat-form-field>
        </div>

        <div class="col -3">
          <mat-form-field class="mat-form">
            <input matInput placeholder="Precio">{{'200'|currency}}
          </mat-form-field>
        </div>

        <div class="col -3">
          <mat-form-field class="mat-form">
            <input matInput placeholder="Cantidad">3
          </mat-form-field>
        </div>


      </div >

      <div class="row justify-content-end">
      <div class="col-3" >
          <button class="button" mat-flat-button color="primary">CANCELAR </button>
      </div>
      <div class="col-3" >
        <button class="button" mat-flat-button color="primary">AGREGAR</button>
    </div>
    </div>


        </form>
      </div>
    </div>

  </div>
</div>
