<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">COMPRAR</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
      <li class="nav-item">
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar producto" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>
<div style="padding: 10%;">
  <div class="row fx-cv-ch">
    <div class="col-12 col-md-14">
      <div class="mat-elevation-z1 bg-main pd-general">


        <div style="padding: 10%;">
          <div class="row fx-cv-ch">


        <div class="row justify-content-around ">
          <div class="col-6 col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://elgourmet.s3.amazonaws.com/recetas/cover/mole-_9IMJjkql3RCWT1eg6AHUD8PKyZLh7o.png" width="250px" height="200px">
              <div class="card-body">
                <h2 class="card-title">Mole con pollo</h2>
                <h5 class="card-title">Comida Tiípica</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident cum nesciunt iure odit sequi voluptate libero ipsam dignissimos ab</p>
                <h4 class="card-title">{{'200' |currency}}</h4>
              </div>
            </div>
          </div>

          <div class="col-6 col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://elgourmet.s3.amazonaws.com/recetas/cover/mole-_9IMJjkql3RCWT1eg6AHUD8PKyZLh7o.png" width="250px" height="200px">
              <div class="card-body">
                <h2 class="card-title">Mole con pollo</h2>
                <h5 class="card-title">Comida Tiípica</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident cum nesciunt iure odit sequi voluptate libero ipsam dignissimos ab</p>
                <h4 class="card-title">{{'200' |currency}}</h4>
              </div>
            </div>
          </div>

          <div class="col-6 col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://elgourmet.s3.amazonaws.com/recetas/cover/mole-_9IMJjkql3RCWT1eg6AHUD8PKyZLh7o.png" width="250px" height="200px">
              <div class="card-body">
                <h2 class="card-title">Mole con pollo</h2>
                <h5 class="card-title">Comida Tiípica</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident cum nesciunt iure odit sequi voluptate libero ipsam dignissimos ab</p>
                <h4 class="card-title">{{'200' |currency}}</h4>
              </div>
            </div>
          </div>

        </div>





          </div>
        </div>



         <table class="table">
          <thead>
            <tr>
              <th  >Imagen</th>
              <th >Nombre</th>
              <th >Descripción</th>
              <th >Tipo</th>
              <th >Precio</th>

            </tr>
          </thead>
          <tbody>

             <tr>
              <td>1</td>
              <td>Mole con pollo</td>
              <td>Mole negro</td>
              <td>Comida Típica</td>
              <td >{{'200'|currency}}</td>
             </tr>

            <tr>
              <td>2</td>
              <td>Mole con pollo</td>
              <td>Mole negro</td>
              <td>Comida Típica</td>
              <td >{{'200'|currency}}</td>
            </tr>

            <tr>
              <td>3</td>
              <td>Mole con pollo</td>
              <td>Mole negro</td>
              <td>Comida Típica</td>
              <td >{{'200'|currency}}</td>
            </tr>

            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td><b>TOTAL</b></td>
              <td><b>{{'200' |currency}}</b></td>

            </tr>


          </tbody>
         </table>

         <div class="row justify-content-end">
          <div class="col-2" >
              <button class="button" mat-flat-button color="primary">CANCELAR </button>
          </div>
          <div class="col-2" >
            <button class="button" mat-flat-button color="primary">COMPRAR</button>
        </div>
        </div>

        </div>
    </div>
  </div>
</div>
