<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Nombre producto</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container" style="padding-top: 50px;">
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-6">
      <div class="mat-elevation-z1 bg-main">
        <img class="image" width="100%" height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRvT6xJ7cVYy9sPWho9Grj6VlffwfkbsfuifmUBnbMuDbeA3bP_&usqp=CAU">
        <form class="pd-general">
          <div class="container" style="padding-top: 12px;">
            <div style="margin-right: 30px; margin-left: 30px; margin-top: 15px;">
            <div class="row">
              <div class="col">
                <h2>Nombre:</h2>
              </div>
              <div class="col-10">
                <h2>Tejate</h2>
              </div>
            </div >
              <h2>Descripción:</h2> <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
              <div class="row" style="padding-top: 20px;">
              <div class="col"> <h2>Tipo: </h2> <h3>Bebida</h3></div>
                <div class="col"> <h2>Precio: </h2> <h3>50</h3></div>
                <div class="col"> <h2>Cantidad: </h2> <h3>50</h3></div>
            </div>
            </div>
            </div>
            <div class="container" style="padding-top: 25px; align-content: center; text-align: center;">
              <div class="row justify-content-md-center">
                <div class="col col-lg-2">
                  <button mat-raised-button color="primary" [routerLink]="['/products']" routerLinkActive="router-link-active"  >Cerrar</button>
                </div>
                <div class="col col-lg-2">
                  <button mat-raised-button color="primary">Agregar</button>
                </div>
              </div>
            </div>
      </form>
      </div>
    </div>
  </div>
</div>


