<div style="margin-top: 10%;">
  <div class="row fx-cv-ch">
    <div class="col-12 col-md-3">
      <div style="text-align:center">
        <h1>Logo</h1>
      </div>
      <div>
        <form>
          <label class="m-3">Full Name</label>
          <input class="mat-form" style="margin-bottom:15px" type="text" placeholder="">
          <label class="m-3">Email</label>
          <input class="mat-form" style="margin-bottom:15px" type="text" placeholder="">
          <label class="m-3">Password</label>
          <input class="mat-form" style="margin-bottom:15px" type="password" placeholder="">
          <label class="m-3">Confirm Password</label>
          <input class="mat-form" style="margin-bottom:15px" type="password" placeholder="">
          <button style="margin-bottom: 25px; height: 6vh; width: 100%; background-color: transparent; color: black; " mat-raised-button (click)="login()">REGISTRATE</button>
        </form>
      </div>
    </div>
  </div>
</div>
