<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">PRODUCTOS CREADOS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar producto" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>
<div style="padding: 10%;">
  <div class="row fx-cv-ch">
    <div class="col-12 col-md-14">
      <div class="mat-elevation-z1 bg-main pd-general">


         <table class="table">
          <thead>
            <tr>
              <th  >Imagen</th>
              <th >Nombre</th>
              <th >Descripción</th>
              <th >Tipo</th>
              <th >Precio</th>
              <th >Editar</th>
              <th >Eliminar</th>

            </tr>
          </thead>
          <tbody>
             <tr>
              <td>
                <img src="https://elgourmet.s3.amazonaws.com/recetas/cover/mole-_9IMJjkql3RCWT1eg6AHUD8PKyZLh7o.png" width="100px" height="75px">
              </td>
              <td>Mole con pollo</td>
              <td>Mole negro</td>
              <td>Comida Típica</td>
              <td>20</td>
             <td><mat-icon >create</mat-icon></td>
             <td><mat-icon >clear</mat-icon></td>

            </tr>
            <tr>
              <td>
                <img src="https://elgourmet.s3.amazonaws.com/recetas/cover/mole-_9IMJjkql3RCWT1eg6AHUD8PKyZLh7o.png" width="100px" height="75px">
              </td>
              <td>Mole con pollo</td>
              <td>Mole negro</td>
              <td>Comida Típica</td>
              <td>20</td>
              <td><mat-icon >create</mat-icon></td>
              <td><mat-icon >clear</mat-icon></td>
            </tr>
            <tr>
              <td>
                <img src="https://elgourmet.s3.amazonaws.com/recetas/cover/mole-_9IMJjkql3RCWT1eg6AHUD8PKyZLh7o.png" width="100px" height="75px">
              </td>
              <td>Mole con pollo</td>
              <td>Mole negro</td>
              <td>Comida Típica</td>
              <td >20</td>
              <td><mat-icon >create</mat-icon></td>
              <td><mat-icon >clear</mat-icon></td>
            </tr>
            <tr>
              <td>
                <img src="https://elgourmet.s3.amazonaws.com/recetas/cover/mole-_9IMJjkql3RCWT1eg6AHUD8PKyZLh7o.png" width="100px" height="75px">
              </td>
              <td>Mole con pollo</td>
              <td>Mole negro</td>
              <td>Comida Típica</td>
              <td>20</td>
              <td><mat-icon >create</mat-icon></td>
              <td><mat-icon >clear</mat-icon></td>
            </tr>
          </tbody>
         </table>

         <div class="row justify-content-end">
          <div class="col-2" >
          </div>
          <div class="col-2" >
            <button class="button" mat-flat-button color="primary" >NUEVO</button>
        </div>
        </div>



      </div>
    </div>
  </div>
</div>
