<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Productos</span>
  </mat-toolbar-row>
</mat-toolbar>
<div style="padding-top: 40px;">
  <div style="padding-right: 50px; padding-left: 50px;">

    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Tejate</mat-card-title>
        <mat-card-subtitle>Bebida</mat-card-subtitle>
      </mat-card-header>
      <div class="container" style="margin-right: 20px;">
        <div class="row">
          <div class="col-10">
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </mat-card-content>
          </div>
          <div class="col-2" style="align-self: center;">
            <h2>$40</h2>
          </div>
        </div>
      </div>
    </mat-card>

    </div>
    <div class="container" style="padding-bottom: 20px; margin-top: 500px; margin-right: 20px;">
      <div class="row">
        <div class="col-10"></div>
        <div class="col-2">
          <button color="primary" routerLink="newProduct" mat-fab>
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </div>
</div>
