<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>MiniResbar</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menuUser" aria-label="Example icon button with a heart icon">
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">account_circle</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>


<div style="padding: 20px 10%;">
  <router-outlet></router-outlet>
</div>

<mat-menu #menuUser="matMenu">
  <div class="fx-cv-ch">
    <b>{{userService.username}}</b>
  </div>
  <button mat-menu-item (click)="logout()">
    <mat-icon>launch</mat-icon>
    <span>Cerrar sesión</span>
  </button>
</mat-menu>
