.card {
  max-width: 600px;
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.form-search {
  align-items: center;
  align-self: center;
  align-content: center;
  width: max-content;
  width: 350px;
}
