
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$vs-training-primary: mat-palette($mat-indigo);
$vs-training-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$vs-training-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$vs-training-theme: mat-light-theme($vs-training-primary, $vs-training-accent, $vs-training-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($vs-training-theme);

$pp-primary: #0097a7;
$pp-primaryDark: #008187;
$pp-accent: #ffab00;
$pp-warn: #f44336;
$pp-primary-select: #0097a71f;
$pp-color-separator: #f5f5f5;
$pp-pd-g: 10px;
html,
body {
    height: 100%;
    background-color: #f5f5f5 !important;
    color: rgba(0, 0, 0, .87);
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ct-pd-body {
    padding: 20px;
}

.ct-logo {
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.ct-avatar {
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    background-color: $pp-accent !important;
}

.txt-header {
    font-size: 20px;
    line-height: 24px;
}

.fx-cv {
    display: flex;
    align-items: center;
}

.fx-ch {
    display: flex;
    justify-content: center;
}

.fx-cv-sb {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.fx-spacer {
    flex: 1 1 auto;
}

.fx-cv-ch {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pd-general {
    padding: $pp-pd-g;
}

.pd-g-h {
    padding: 0px $pp-pd-g;
}

.pd-square-less-bottom {
    padding-left: $pp-pd-g;
    padding-right: $pp-pd-g;
    padding-top: $pp-pd-g;
}

.pd-square-less-top {
    padding-left: $pp-pd-g;
    padding-right: $pp-pd-g;
    padding-bottom: $pp-pd-g;
}

.pd-square-less-left {
    padding-right: $pp-pd-g;
    padding-top: $pp-pd-g;
    padding-bottom: $pp-pd-g;
}

.pd-square-less-right {
    padding-left: $pp-pd-g;
    padding-top: $pp-pd-g;
    padding-bottom: $pp-pd-g;
}

.pd-g-v {
    padding: $pp-pd-g 0px;
}

.select-menu {
    background-color: $pp-primary-select !important;
    color: $pp-primary !important;
    font-weight: bold;
}

.bg-main {
    background-color: white;
}

.bg-primary {
    background-color: $pp-primary-select;
}

.bg-accent {
    background-color: $pp-accent;
}

.block-button {
    width: 100%;
}

.separator-line {
    border: 1px solid $pp-color-separator;
}

.mat-form {
    width: 100%;
}

.btn-row button,
.btn-row a {
    margin-right: 8px;
}


/*
* Override class angular material
*/

mat-step-header:hover {
    background-color: $pp-primary-select !important;
    color: $pp-primary !important;
    font-weight: bold;
}

.mat-horizontal-content-container {
    padding: 0px !important;
}

.cdk-overlay-connected-position-bounding-box {
    top: 53px !important;
}

.ct-square-img-preview {
    flex-shrink: 0;
    width: 56px;
    height: 56px;
    border-radius: 10%;
    object-fit: cover;
    background-color: white;
}

.ct-square-action {
    height: 100%;
    min-height: 100px;
    cursor: pointer;
}

.ct-square-min-rb {
    border-radius: 10px;
}

.ct-custom-browse {
    display: flex;
    border: none;
    border-radius: 10px;
}

.ct-custom-browse:not(:root):fullscreen {
    object-fit: contain;
    position: fixed !important;
    top: 10px !important;
    right: 0px !important;
    bottom: 0px !important;
    left: 10px !important;
    box-sizing: border-box !important;
    min-width: 0px !important;
    max-width: none !important;
    min-height: 0px !important;
    max-height: none !important;
    transform: none !important;
    width: 200px;
    margin: 0px !important;
}

.custom-input {
    height: 32px;
    border: none;
    width: 100%;
    padding: 0px 8px;
}

.custom-input:focus {
    border: none !important;
    color: $pp-primary !important;
    font-weight: bold;
}

.clear-styles {
    padding: 0px !important;
    margin: 0px !important;
}

.pd-in-list {
    padding: 4px 0px;
}

.fb-tl {
    z-index: 1;
    position: absolute;
    left: 5px;
    top: 0px;
    padding: 10px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table{
 width: 100%;
}
