 <div class="container">
    <div class="row">
      <div class="col">
        <h1>Agregar producto</h1>
        <form #productForm="ngForm" ngNativeValidate (ngSubmit)="addProductWithForm(productForm)">
          <input type="text" name="image" placeholder="Imagen" [(ngModel)]="createProduct.image" required> <br>
          <input type="text" name="name" placeholder="Nombre" [(ngModel)]="createProduct.name" maxlength="60" required> <br>
          <input type="text" name="description" placeholder="Descripción" [(ngModel)]="createProduct.description" maxlength="250" required><br>
          <input type="number" name="price" placeholder="Precio" [(ngModel)]="createProduct.price" min="1" required> <br>
          <div>
              <label for="tipo">Tipo:</label>
                <select id="tipo" name="type" [(ngModel)]="createProduct.type" required>
                  <option value="Comida">Comida</option>
                  <option value="Bebida">Bebida</option>
                  <option value="Postre">Postre</option>
                </select> <br>
            </div>
            <button type="submit">AGREGAR</button>
        </form>
      </div>
      <div class="col-md-auto">
        <h2>Lista de productos</h2>
        <div class="row">
          <div *ngFor="let item of listProducts">
            <app-product-shared-list [product]="item"> </app-product-shared-list>
          </div>
    </div>
  </div>
